<div id="root">
    

    <section class="section hero is-dark  is-bold">
        <div class="hero-body">
            <div class="container">
                <div class="columns ">
                    <div class="column is-3">
                        <a href="#">
                            <h1 class="title">HOME DECOR</h1>
                            <h2 class="subtitle">Turning Homes Into Heavens</h2>
                        </a>
                    </div>
                    <div class="column is-6">
                        <form role="search" action="/search">
                            <div class="control is-grouped">
                                <input class="input" type="text" placeholder="What your heaven needs today?" name="query">
                                <button type="submit" style="background: none; border: none">
                                    <a class="button is-info">
                                        <span class="icon">
                                        <i class="fa fa-search"></i>
                                    </span>
                                        <span>Search</span>
                                    </a>
                                </button>
                            </div>
                            <form>
                    </div>
                    <div class="column is-3">
                        <div class="control is-grouped">
                            <p class="control">
                                <a class="button is-dark" href="/cart">
                                    <span class="icon">
                                        <i class="fa fa-shopping-cart"></i>
                                    </span>
                                    <span>Cart</span>

                                </a>
                            </p>
                            <p class="control">
                                <profile></profile>
                                <!--<a class="button is-dark">
                                    <span class="icon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    <span>Log In/ Sign Up</span>
                                </a>-->
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>